# Ignore the virtual environment
ttp-env/

# Ignore the .idea directory (PyCharm configuration)
.idea/

# Ignore the tmp.py file
tmp.py

# Ignore the .pyc files
__pycache__/

.python-version

# Ignore the log file for the backend.py script
output.log

# Stop resetting the users files every commit
users/*.txt
